/* General Styles */

html,
body {
  overflow-x: hidden;
}

/*Classes*/

.bg_blue {
  background-color: #1f37d2;
}
.bg_height {
  height: 100vh;
}

.hr_divider {
  margin-top: 0px;
  border-top: 4px solid #c8c8c8;
}

.intro_text_align {
  margin-left: 40px;
}

.nav-link {
  margin-right: 20px;
  color: black;
}

.bg-light {
  --bs-bg-opacity: 0;
}
.margin-top {
  margin-top: 3em;
}
.white-button {
  border-color: #ffffff;
  color: white;
}
.paragraph-styles {
  padding: 30px;
  background-color: white;
  height: 500px;
  overflow: auto;
}
/* .btn {
  border-radius: 0.5rem;
  font-size: 1.2em;
  border: 2px solid white;
} */
.vert-container {
  position: relative;
}

#leftCol {
  top: 53%;
}

.vert-center {
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#about-section {
  background-color: #eff2f7;
}
/*IDs*/
#project_header {
  /* margin-top: 3.6em; */
  font-weight: "Light 300";
  font-family: "Poppins";
}
#project_intro {
  color: rgb(185, 185, 185);
  font-family: "Poppins";
  font-weight: "Thin 100";
}
#about-section-title {
  font-family: "Poppins";
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#about-section-content {
  padding-top: 3em;
  padding-bottom: 3em;
}

#about-1 {
  border-style: none;
}
#about-2 {
  margin-top: 4em;
}
#about-3 {
  margin-top: 7em;
}
#about-4 {
  margin-top: 10em;
}

#navbar {
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 768px) {
  #about-2 {
    margin-top: 0;
  }
  #about-3,
  #about-4 {
    margin-top: 2em;
  }
  #navbar {
    position: relative;
  }
}

@media only screen and (max-width: 576px) {
  #about-2,
  #about-3,
  #about-4 {
    margin-top: 2em;
  }
  .bg_height {
    height: 20em;
  }

  #project_header {
    margin-top: 1em;
  }
}

#project-desc {
  color: white;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 1.2em;
  /* margin-bottom: 2em; */
}

#nav {
  font-size: large;
}

/**/
/* #temp {
    background-color: white;
    border-color: white;
    color: tomato;
    font-size: large;
}

#po .active a{
   color: #1F37D2;
   background-color: white;
} */

button a {
  color: white;
  text-decoration: none;
}
img {
  height: 150px;
  width: 150px;
}
